<header role="banner"></header>
<nav role="navigation">
    <a href="#home">Home</a> |
    <a id='todo' >Todo List</a> |
    <a href="#jokes">Jokes</a> |
    <a href="#pizza">Pizza</a>
</nav>
<section id="main">d</section>
<footer role="contentinfo">
    <a href="#">{{ name }}</a> was made with <span style="color: red;font-weight: bold;">❤</span> using <a href="https://github.com/omahajs/generator-omaha">OMAHA JS</a>
</footer>